/* Table of contents::after

1.  Custom Variables
2.  Global Styles
3.  Typography
4.  Color
5.  Flex / Grid
6.  Layout
7.  Positioning
8.  padding
9.  Margin
10. Background
11. @Media
*/

/* 
1.  Custom Variables
*/

:root {
  /* Colors */
  --vibrant-blue: #111827;
  --bright-vibrant-blue: #4F46E5;
  --hover-dark: #7973E7;
  --hover-light: #B3B0EB;
  --white: #FFF;
  --black: #000;

  /* Font-Families */
  --ff-lora: "Lora", serif;
  --ff-merriweather: "Merriweather", serif;

  /* Font-Sizes */
  --s-16: 1rem;
  --s-18: 1.125rem;
  --s-20: 1.25rem;
  --s-21: 1.3125rem;
  --s-24: 1.5rem;
  --s-30: 1.875rem;
  --s-36: 2.25rem;
  --s-60: 3.75rem;


  /* Font-Weights */
  --w-300: 300;
  --w-400: 400;
  --w-500: 500;
  --w-600: 600;
  --w-700: 700;
  --w-900: 900;


  /* Line-Heights */
  --lh-1: 1;
  --lh-24: 24px;
  --lh-34: 34px;
}


/* 
2.  Global Styles
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

ul,
figure {
  margin: 0;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--vibrant-blue);
  font-family: var(--ff-merriweather);
  font-weight: var(--w-700);
  font-size: var(--s-16);
  line-height: var(--lh-1);
  padding: 0;
  margin: 0 auto;
  color: var(--white);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 100vh;
}

main {
  flex: 1;
}


/*
3.  Typography
*/


/* 
4.  Color
*/


/* 
5.  Flex / Grid
*/


/* 
6.  Layout
*/


/* 
7.  Positioning
*/


/* 
8.  padding
*/


/* 
9.  Margin
*/


/* 
10. Background
*/


/* 
11. @Media
*/


@media (min-width: 800px) {

  /* 3. Typography */


  /* 4. Color */


  /* 5. Flex / Grid */


  /* 6. Layout */


  /* 7. Positioning */


  /* 8. padding */


  /* 9. Margin */


  /* 10. Background  */


}