/* Table of contents::after

1.  Custom Variables
2.  Global Styles
3.  Typography
4.  Color
5.  Flex / Grid
6.  Layout
7.  Positioning
8.  padding
9.  Margin
10. Background
11. @Media
*/

/* 
1.  Custom Variables
*/

:root {
  /* Colors */
  --blue: #8BABF1;
  --light-blue: #B3C7F7;
  --lighter-blue: #D9E4FF;
  --light-orange: #FAAF90;
  --lighter-orange: #FCC9B5;
  --white: #FFF;
  --black: #000;

  /* Font-Families */
  --ff-lora: "Lora", serif;
  --ff-merriweather: "Merriweather", serif;

  /* Font-Sizes */
  --s-14: 0.875rem;
  --s-16: 1rem;
  --s-18: 1.125rem;
  --s-20: 1.25rem;
  --s-21: 1.3125rem;
  --s-24: 1.5rem;
  --s-30: 1.875rem;
  --s-36: 2.25rem;
  --s-60: 3.75rem;


  /* Font-Weights */
  --w-300: 300;
  --w-400: 400;
  --w-500: 500;
  --w-600: 600;
  --w-700: 700;
  --w-900: 900;


  /* Line-Heights */
  --lh-1: 1;
  --lh-150: 150%;
}


/* 
2.  Global Styles
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul,
figure {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--light-blue);
  font-family: var(--ff-merriweather);
  font-weight: var(--w-700);
  font-size: var(--s-16);
  line-height: var(--lh-150);
  padding: 0;
  margin: 0 auto;
  color: var(--black);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 100vh;
}

main {
  flex: 1;
}

/* The following code is hiding the content for regular users but keeping it accessible. */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  background-color: transparent;
  color: transparent;
}



/*
3.  Typography
*/

footer p,
footer h2,
.card-btn-wrap,
.card-heading h4,
.projects h3,
.other-skills-wrap,
.core-skills-wrap,
.introduction,
.contact-socials h2 {
  text-align: center;
}

footer h2,
.card-heading h4,
.projects h3,
.other-skills-wrap,
.core-skills-wrap,
.cta,
.contact-socials h2 {
  text-transform: uppercase;
}

footer p,
footer h2,
.card h5,
.card-heading h4,
.projects h3,
.other-skills-wrap,
.core-skills-wrap,
.introduction h2,
.contact-socials,
.logo {
  font-family: var(--ff-lora);
}

.card p {
  font-size: var(--s-14);
}

.card h5 {
  font-size: var(--s-18);
}

.projects h3,
.other-skills-wrap h3,
.btn {
  font-size: var(--s-20);
}

.core-skills-wrap h3,
.logo h1 {
  font-size: var(--s-24);
}

.introduction h2 {
  font-size: var(--s-30);
}

.card-heading h4 {
  font-weight: var(--w-400);
}

.projects h3,
.logo h2 {
  font-weight: var(--w-600);
}

main h2,
main h3,
main h4,
main h5 {
  line-height: var(--lh-150);
}

.card h5,
.logo h1 {
  font-style: italic;
}

.bio-wrap div :nth-child(2) {
  letter-spacing: 0.48px;
}



/* 
4.  Color
*/

footer > div, 
.card,
main {
  background-color: var(--light-blue);
}

.cta {
  background-color: var(--light-orange);
}

footer,
.card-heading {
  background-color: var(--blue);
}

.bio-wrap {
  background-color: #FAAF9085
}

.overlay {
  color: var(--white);
  background-color: #00000090;
}

.cta:hover {
  background-color: var(--lighter-orange);
  border-color: var(--light-orange);
}

.btn:hover {
  color: var(--blue);
}

.jump:hover {
  color: var(--lighter-blue);
}

.cta:hover,
.btn:hover,
.jump:hover {
  transition: 500ms;
}

.cta {
  border-color: var(--lighter-orange);
}

.card {
  border-color: var(--blue);
}

.core-skills-wrap h3,
.other-skills-wrap h3,
.cta,
.introduction h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cta {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card,
.bio-wrap > div img,
.bio-wrap {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* 
5.  Flex / Grid
*/

.flex {
  display: flex;
}

.contact-socials,
.flex-col {
  flex-direction: column;
}

.jump,
footer ul,
.other-skills-wrap ul,
.other-skills-wrap .icon,
.core-skills-wrap ul,
.btn {
  justify-content: center;
}

.card-btn-wrap {
  justify-content: flex-end;
}

.jump,
footer ul,
.card-btn-wrap,
.other-skills-wrap .icon,
.bio-wrap div,
main,
.btn {
  align-items: center;
}

.core-skills-wrap ul,
.other-skills-wrap ul {
  flex-wrap: wrap;
}

.card-btn-wrap,
.logo {
  flex: 1;
}


.contact-socials,
footer > div,
.overlay,
.bio-wrap div :nth-child(2) {
  gap: 10px;
}

.projects ul,
.projects,
.other-skills-wrap ul,
.other-skills-wrap,
.core-skills-wrap,
.core-skills-wrap ul,
.introduction {
  gap: 20px;
}

.card-btn-wrap,
.bio-wrap,
.bio-wrap > div {
  gap: 30px;
}


/* 
6.  Layout
*/
.jump,
.contact-socials {
  display: none;
}

.jump {
  cursor: pointer;
}

.jump,
.icon img,
.dot,
.btn {
  width: 40px;
  height: 40px;
}

.icon {
  height: 50px;
  width: 50px;
}

.bio-wrap {
  width: 100%;
}

.card-btn-wrap .cta {
  display: block;
  width: 200px;
}

.card {
  max-width: 450px;
}

.bio-wrap div :nth-child(2) {
  max-width: 320px;
}

.introduction {
  max-width: 340px;
}

.bio-wrap img {
  max-height: 200px;
}

.cta,
.card {
  border-width: 3px;
  border-style: solid;
}

.bio-wrap > div img {
  border: 10px solid var(--blue);
}

.card,
.bio-wrap > div img,
.bio-wrap,
.cta {
  border-radius: 10px;
}

.card-heading {
  border-radius: 10px 10px 0 0;
}


/* 
7.  Positioning
*/

footer {
  position: relative;
}

.jump {
  position: absolute;
}

.jump {
  bottom: 3px;
  right: 10px;
}





/* 
8.  padding
*/

.bio-wrap > div {
  padding: 0 0 40px 0;
}

nav {
  padding: 0 0 50px 0;
}

.card-heading,
.icon {
  padding: 5px;
}

.overlay {
  padding: 5px 10px;
}

footer p {
  padding: 10px
}

.cta {
  padding: 10px 20px;
}

footer > div {
  padding: 10px 20px 30px 20px 
}

.bio-wrap {
  padding: 20px 10px 40px 10px;
}

header {
  padding: 20px 20px 10px 20px;
}

.card-btn-wrap {
  padding: 30px 0;
}

main {
  padding: 40px 20px 50px 20px;
}

.projects {
  padding: 50px 0 0 0;
}


/* 
9.  Margin
*/

.introduction p {
  margin: 10px 0;
}

/* 
10. Background
*/

/* Photo by Sharon Pittaway on Unsplash */
/* https://unsplash.com/photos/water-dropping-on-light-bulb-N7FtpkC_P7o?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash */
main {
  background: linear-gradient(0deg, rgba(217, 228, 255, 0.85) 0%, rgba(217, 228, 255, 0.85) 100%), url("/assets/background-img.jpg"), lightgray 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dot {
  background-image: url("/assets/ellipse-11.svg");
  background-repeat: no-repeat;
  background-position: center;
}


/* 
11. @Media
*/


@media (min-width: 350px) {
  .jump {
    display: flex;
  }
}

@media (min-width: 1000px) {

  /* 3. Typography */

  .bio-wrap div :nth-child(2),
  .introduction p,
  .logo h2 {
    font-size: var(--s-21);
  }

  .other-skills-wrap h3 {
    font-size: var(--s-24);
  }

  .projects h3,
  .core-skills-wrap h3 {
    font-size: var(--s-30);
  }

  .logo h1 {
    font-size: var(--s-36);
  }

  .introduction h2 {
    font-size: var(--s-60);
  }

  .bio-wrap div :nth-child(2) {
    letter-spacing: 0.63px;
  }

  /* 4. Color */


  /* 5. Flex / Grid */

  .contact-socials {
    display: flex;
  }

  .bio-wrap > div {
    flex-direction: row;
    justify-content: center;
  }

  .projects ul {
    flex-direction: row;
  }

  .bio-wrap > div,
  .bio-wrap {
    gap: 50px;
  }

  .projects ul {
    gap: 50px;
  }

  /* 6. Layout */

  .overlay {
    height: 170px;
  }

  .bio-wrap div :nth-child(2) {
    max-width: 580px;
  }
  
  .introduction {
    max-width: 640px;
  }


  /* 7. Positioning */


  /* 8. padding */

  header {
    padding: 30px 30px 15px 30px;
  }

  main {
    padding: 90px 30px;
  }

  /* 9. Margin */

  .introduction p {
    margin: 10px 0 30px 0;
  }

  /* 10. Background  */


}